@model NutrinetSync.ModeloSys.paciente

@{
    ViewBag.Title = "Información del Paciente";
}

<h2>Información del Paciente</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @*Por medio del ViewBag, se revisa si es alta o no*@
    @if (ViewBag.Message == "modificacion")
    {
        @Html.HiddenFor(model => model.pacienteid)
    }

    @* TODO: CAMBIAR ESTO A ACORDEON: https://getbootstrap.com/docs/4.0/components/collapse/ Y CAMBIAR LA CULTURA *@
    @*<div class="row">
        <div class="col-lg-12">
            <div class="btn-group">
                <a class="btn btn-default" data-toggle="collapse" href="#infoGenerales" role="button" aria-expanded="false" aria-controls="infoGenerales">Generales</a>
                <a class="btn btn-default" data-toggle="collapse" href="#infoDireccion" role="button" aria-expanded="false" aria-controls="infoDireccion">Direccion</a>
                <a class="btn btn-default" data-toggle="collapse" href="#infoAdicional" role="button" aria-expanded="false" aria-controls="infoAdicional">Adicional</a>
            </div>
        </div>
    </div>

    <br />
    <br />*@

    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#infoGenerales">Generales</a>
                </h5>
            </div>

            <div id="infoGenerales" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="control-label col-sm-4">
                                Nombre(s)
                            </div>
                            <div class="col-sm-6">
                                @Html.EditorFor(model => model.nombres, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.nombres, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="control-label col-sm-4">
                                Apellido Paterno
                            </div>
                            <div class="col-sm-6">
                                @Html.EditorFor(model => model.apellidop, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.apellidop, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="control-label col-sm-4">
                                Apellido Materno
                            </div>
                            <div class="col-sm-6">
                                @Html.EditorFor(model => model.apellidom, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.apellidom, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="control-label col-sm-4">
                                Fecha Nacimiento
                            </div>
                            <div class="col-sm-6">
                                @Html.EJ().DatePickerFor(model => model.fechanac, new { htmlAttributes = new { @class = "form-control" } }).DateFormat("yyyy/MM/dd").Locale("es-MX").WatermarkText("Ingrese la Fecha").ButtonText("Hoy")
                                @Html.ValidationMessageFor(model => model.fechanac, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="control-label col-sm-4">
                                Sexo
                            </div>
                            <div class="col-sm-6">
                                @Html.EditorFor(model => model.sexo, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.sexo, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="control-label col-sm-4">
                                Estado Civil
                            </div>
                            <div class="col-sm-6">
                                @Html.EditorFor(model => model.estadocivil, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.estadocivil, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="control-label col-sm-4">
                                Telefono
                            </div>
                            <div class="col-sm-6">
                                @Html.EditorFor(model => model.telefonos, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.telefonos, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="control-label col-sm-4">
                                Correo
                            </div>
                            <div class="col-sm-6">
                                @Html.EditorFor(model => model.correo, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.correo, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="control-label col-sm-4">
                                Referente
                            </div>
                            <div class="col-sm-6">
                                @Html.EditorFor(model => model.referente, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.referente, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="control-label col-sm-4">
                                Peso
                            </div>
                            <div class="col-sm-6">
                                @Html.EditorFor(model => model.peso, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.peso, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="control-label col-sm-4">
                                Talla (Centimetros)
                            </div>
                            <div class="col-sm-6">
                                @Html.EditorFor(model => model.talla, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.talla, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="control-label col-sm-4">
                                Nivel de Actividad
                            </div>
                            <div class="col-sm-6">
                                @Html.EJ().DropDownListFor(model => model.nivelactividad, new { htmlAttributes = new { @class = "form-control" } }).Datasource((IEnumerable<NutrinetSync.Controllers.ActividadesLista>)ViewBag.datasource).DropDownListFields(df => df.ID("id").Text("act").Value("act"))
                                @Html.ValidationMessageFor(model => model.nivelactividad, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h5 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#infoDireccion">Direccion</a>
                </h5>
            </div>

            <div id="infoDireccion" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="control-label col-sm-4">
                                Calle
                            </div>
                            <div class="col-sm-6">
                                @Html.EditorFor(model => model.calle, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.calle, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="control-label col-sm-4">
                                Numero Exterior
                            </div>
                            <div class="col-sm-6">
                                @Html.EditorFor(model => model.numext, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.numext, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="control-label col-sm-4">
                                Numero Interior
                            </div>
                            <div class="col-sm-6">
                                @Html.EditorFor(model => model.numint, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.numint, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="control-label col-sm-4">
                                Colonia
                            </div>
                            <div class="col-sm-6">
                                @Html.EditorFor(model => model.colonia, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.colonia, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="control-label col-sm-4">
                                Localidad
                            </div>
                            <div class="col-sm-6">
                                @Html.EditorFor(model => model.localidad, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.localidad, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="control-label col-sm-4">
                                Municipio
                            </div>
                            <div class="col-sm-6">
                                @Html.EditorFor(model => model.municipio, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.municipio, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="control-label col-sm-4">
                                Ciudad
                            </div>
                            <div class="col-sm-6">
                                @Html.EditorFor(model => model.ciudad, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ciudad, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="control-label col-sm-4">
                                Ciudad Origen
                            </div>
                            <div class="col-sm-6">
                                @Html.EditorFor(model => model.ciudadorigen, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ciudadorigen, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="control-label col-sm-4">
                                Estado
                            </div>
                            <div class="col-sm-6">
                                @Html.EditorFor(model => model.estado, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.estado, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="control-label col-sm-4">
                                Pais
                            </div>
                            <div class="col-sm-6">
                                @Html.EditorFor(model => model.pais, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.pais, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h5 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#infoAdicional">Adicional</a>
                </h5>
            </div>

            <div id="infoAdicional" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="control-label col-sm-4">
                                Nombre Padre
                            </div>
                            <div class="col-sm-6">
                                @Html.EditorFor(model => model.nombrepadre, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.nombrepadre, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="control-label col-sm-4">
                                Nombre Madre
                            </div>
                            <div class="col-sm-6">
                                @Html.EditorFor(model => model.nombremadre, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.nombremadre, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="control-label col-sm-4">
                                Ultima Consulta
                            </div>
                            <div class="col-sm-6">
                                @Html.EJ().DatePickerFor(model => model.ultimaconsulta, new { htmlAttributes = new { @class = "form-control" } }).DateFormat("yyyy/MM/dd").Locale("es-MX").WatermarkText("Ingrese la Fecha").ButtonText("Hoy")
                                @Html.ValidationMessageFor(model => model.ultimaconsulta, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-md-6">
            <input type="submit" value="Guardar" class="btn btn-success" />
            @if (ViewBag.Message == "modificacion")
            {
                <input type="button" value="Historial" class="btn btn-primary" onclick="location.href='@Url.Action("Historia", "pacientes", new { pacienteid = Model.pacienteid })'" />
            }
        </div>
    </div>
</div>
}

<br />

<div>
    @Html.ActionLink("< Volver a la Lista", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}